body {
    background-color: #e1d4f7;
    padding: 0;
}
header {
    height: 350px;

}
#logo-img {
    margin: -10px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    position: relative;
    top: -25px;


}

.topnav a {
    text-align: center;
    text-decoration: none;
    color: #4b4b4e;
    font-size: 2rem;
}

a:hover {
    color: white;
}

.content {
    border: 2px black;
    height: 500px;
    width: 850px;
    margin: 0 auto;

}
